*{
    box-sizing: border-box;
    font-family: sans-serif;
}

button{
    cursor: pointer;
}

.head{
    display: flex;
    padding-left: 10px;
    padding: 39px;
}

.container{
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: white;
    position: sticky;
    top: 0;
}

.navs{
    display: flex;
    list-style: none;
    position: absolute;
    top: 33px;
    left: 390px;
}

a{
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor: pointer;
}

.navbar-icons{
    display: flex;
    color: black;
    position: absolute;
    top: 45px;
    left: 1280px;
    cursor: pointer;
}
.navbar-icon{
    width: 20px;
    height: 20px;
    margin-left: 45px;
}

